/* <!-- =============================================================== -->
<!-- ______________________УРОК 6: СВОЙСТВА ОФОРМЛЕННЯ БЛОКІВ_____________________________ --> */

.block {
	/* background-color: green;
	border-top: 10px solid #000000;
	border-left: 15px solid #ff0000; */

	/* border: - межа/границя 
анатомія:
свойство: товщина стиль колір
/* стиль:
solid - пряма
dotted - точки
dashed - пунктир
double - двойна пряма
none - відміна границь
*/
	/* top;
right;
bottom;
left; */

	/* Універсальне свойство для всіх сторон відразу*/

	/* border: 10px solid	#000; */
}

/* ___________________________________________________________________ */

/* border-radius: 
встановлює радіус округлення кутів блока + працює і з border

Анатомія:
border-radius: верхній-лівий верхній-правіий нижній-правий нижній-лівий
*/
.block {
	/* padding: 25px;
	border-radius: 25% 10px 10px 10px / 15px 15px 15px	15px; */
}
/* круг: 
border: radius; */
div .imeg {
	/* border-radius: 50%;
height: 100px;
width: 100px; */
	/* параметри для кола */
}
.picture {
	/* border-radius: 50%;
width: 100px;
height: 100px;
overflow: hidden; */
	/* параметри для <div> коло*/
}

/* _________________________________________________________________ */

/* outline:  - обводка */
/* універсальне свойство, одночасно встановлює колір, стиль і товщину 
зовнішньої межі на всіх чотирьох сторонах елемента */

/* анатомія:
свойство: товщина стиль колір */
/* /* стиль:
solid - пряма
dotted - точки
dashed - пунктир
double - двойна пряма
none - відміна границь */

.block {
	/* outline: 10px solid #000; */
	/* розміщується за межами блока і не давить на текст, не впливає 
	на зовнішні обєкти 
	задається відразу для всіх сторн ( не можна вибрати сторону окремо.
	строчні обєкти обгортає по краю*/
	/* border-radius: 20px; */
}

/* box-shadow - додає тінь до елемента*/
/* Анатомія
 box-shadow: сдвиг_по_горизонталі, сдвиг_по_вертикалі, радіус, відстань, колір,*/
/* можна додати багато тіней 
на тіль впливає border-radius 
*/
.block {
	width: 500px;
}
